h3{
  margin: 0 auto;
}
body{
    background-color: #cfd3ce;
    color: black;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;

}
img {
  width: 80%;
}
.display-4,.lead{
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.custom{
  margin-bottom: 0;
}
